# ===========================
# Python
# ===========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/

# Environment Variables
.env
.env.*

# Logs
*.log

# Python Cache
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# ===========================
# React / Vite
# ===========================

dashboard/node_modules/
dashboard/dist/
dashboard/.vite/

# npm / yarn logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===========================
# dbt
# ===========================

dbt_project/logs/
dbt_project/target/
dbt_project/profiles/.user.yml

# ===========================
# Generated Data
# ===========================

data/raw/*.csv

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# OS Files
# ===========================

.DS_Store
Thumbs.db