# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log

# dbt
dbt_project/logs/
dbt_project/target/
dbt_project/profiles/.user.yml

# Generated CSVs
data/raw/*.csv

# Caches
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# macOS
.DS_Store