.kpi-card{
    background:#1c2333;
    border-radius:16px;
    padding:22px;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
    transition:.3s;
}

.kpi-card:hover{
    transform:translateY(-6px);
}

.kpi-card h4{
    color:#8d97b5;
    margin-bottom:12px;
    font-size:15px;
    font-weight:500;
}

.kpi-card h2{
    color:white;
    font-size:34px;
}